<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilosfrmEmp.css">
    <title>Empleados</title>
</head>

<body>
    <fieldset class="TabEmp">
        <legend>Registrar Empleado</legend>
        <form action="" method="" class="formulario">
            <label for="a">Documento
                <input type="text" id="a" placeholder="Documento" required>
            </label>
            <label for="b">Nombre
                <input type="text" id="b" placeholder="Nombre">
            </label>
            <label for="c">Celular
                <input type="text" id="c" placeholder="Celular">
            </label>
            <label for="d">Correo
                <input type="email" id="d" placeholder="Correo">
            </label>
            <label for="" class="rol">Rol:
                <label for="e">OPERARIO
                    <input type="radio" id="e" name="r1">
                </label>
                <label for="f">ADMINISTRADOR
                    <input type="radio" id="f" name="r1">
                </label>
            </label>
            <input type="submit" class="boton" value="Registrar">
            <!--<button>Registrar</button>-->
        </form>
    </fieldset>
</body>

</html>